.tabs-wrap-light{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 64px;
}

.tabs-wrap-dark{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #8D8E97;
    margin-bottom: 64px;
}