.main-title-light {
    color: #323537;
    line-height: 80px;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}

.main-title-dark {
    color: #FFFFFF;
    line-height: 80px;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}

@media (max-width: 594px) {
    .main-title-light  {
        line-height: 48px;
        font-size: 32px;
        margin-bottom: 48px;
    }
    .main-title-dark  {
        line-height: 48px;
        font-size: 32px;
        margin-bottom: 48px;
    }
}