.footer-light {
    background-color: #F3F3F3;
}

.footer-dark {
    background-color: #313037;
}

.footer-block-light {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dadada;
}

.footer-block-dark {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #8D8E97;
}

.footer-block__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(141, 142, 151, 1);
    padding: 34px 0;
}

@media (max-width: 594px) {
    .footer-block-light {
        display: block;
        text-align: center;
    }

    .footer-block-dark {
        display: block;
        text-align: center;
    }

    .footer-block__text {
        padding: 24px 0;
    }

}
