.card-big__wrap-light {
    width: 736px;
    height: 452px;
    border-bottom: 1px solid #DADADA;
}

.card-big__wrap-dark {
    width: 736px;
    height: 452px;
    border-bottom: 1px solid #8D8E97;
}

.card-big__post {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.left-side-card {
    width: 448px;
}

.card-big__date {
    display: block;
    width: 104px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8D8E97;
    margin-bottom: 8px;
}

.card-big__title-light {
    color: #313037;
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 24px;
}

.card-big__title-dark {
    color: #FFFFFF;
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 24px;
}

.card-big__description {
    width: 100%;
    color: #8D8E97;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 31px;
}

.right-side-card {
    width: 256px;
    height: 244px;
}
.right-side-card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.card-big__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card__icon {
    width: 24px;
    display: flex;
    align-items: center;
}

.card__likes-light {
    color: #313037;
    font-size: 18px;
    font-weight: 600;
}

.card__likes-dark {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.my-icons-light {
    color: #313037;
    font-size: 24px;
}

.my-icons-dark {
    color: #FFFFFF;
    font-size: 24px;
}

.my-icons-down-light {
    color: #313037;
    font-size: 24px;
    transform: scale(-1, 1);
}

.my-icons-down-dark {
    color: #FFFFFF;
    font-size: 24px;
    transform: scale(-1, 1);
}

.card-big__bock-icon {
    width: 72px;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1180px) {
    .card-big__wrap-light {
        width: 328px;
        height: 448px;
    }
    .card-big__wrap-dark {
        width: 328px;
        height: 448px;
    }
    #flex {
        display: flex; 
        flex-direction: column;
    }
    #a { 
        order: 2; 
    }
    #b { 
        order: 1; 
    }
    .right-side-card {
        width: 100%;
        height: 230px;
        margin-bottom: 24px;
    }
    .left-side-card {
        width: 100%;
    }
    .card-big__title-light {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    .card-big__title-dark {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    .card-big__description {
        display: none;
    }
    .card-big__post {
        margin-bottom: 0;
    }
}


@media (max-width: 740px) {
    .card-big__wrap-light {
        width: 272px;
        height: auto;
    }
    .card-big__wrap-dark {
        width: 272px;
        height: auto;
    }
    .right-side-card {
        height: 190px;
    }
    .card-big__title-light {
        margin-bottom: 32px;
    }
    .card-big__title-dark {
        margin-bottom: 32px;
    }
    .card-big__footer {
        margin-bottom: 32px;
    }
}