* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1120px;
    margin: auto;
    padding: 0 15px;
}